<html>
<link rel="stylesheet" type="text/css" href="../../../public/stylesheets/main.css" />
<body>
<!-- first -->
<div class="image-holder">aaa</div><div class="arrow-right-large"></div>

<div class="connector">
    <div class="arrow-left-top-small"></div><div class="arrow-left-bottom-small"></div>
</div>
<div class="image-holder">bbb</div><div class="arrow-right-large"></div>

<div class="connector">
    <div class="arrow-left-top-small"></div><div class="arrow-left-bottom-small"></div>
</div>
<div class="image-holder">ccc</div><div class="arrow-right-large"></div>

<div class="connector">
    <div class="arrow-left-top-small"></div><div class="arrow-left-bottom-small"></div>
</div>
<div class="image-holder">ddd</div><div class="arrow-right-large"></div>

<div class="connector">
    <div class="arrow-left-top-small"></div><div class="arrow-left-bottom-small"></div>
</div>
<div class="remain-holder">ddd</div>

</body>
</html>